/*------Start Base CSS------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed';
    font-size: 15px;
}

img {
    height: auto;
    max-width: 100%;
    border: none;
}

body,
html {
    height: 100%;
}

a,
a:hover {
    text-decoration: none;
}

a:focus {
    color: #333;
    text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    margin-top: 0;
}

p {
    margin-bottom: 10px;
    margin-top: 0;
}

/*------End Base CSS------*/
.welcome-area {
    color: #777;
    line-height: 1.7;
    background-image: url("images/hader-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.welcome-area h1 {
    font-size: 45px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #222;
}

.boxed-btn {
    display: inline-block;
    background-color: #222;
    padding: 12px 30px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 20px;
}

.welcome-area .carousel-indicators li {
    background-color: #cecece;
    height: 8px;
    width: 25px;
    border-radius: 12px;
}

.welcome-area .carousel-indicators li.active {
    background-image: linear-gradient(to left, #ffb02a 0%, #ffd019 100%);
    width: 50px;
}

.section-padding {
    padding: 70px 0 35px;
}

.smart-phone-area h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.single-smart-phone {
    background: #fff;
    box-shadow: 10px 10px 30px #ddd;
    padding: 30px 40px;
    border-radius: 10px;
    color: #777;
    font-size: 16px;
}

.single-smart-phone img {
    margin-bottom: 20px;
}

.single-smart-phone span {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #222;
}

button {
    border: none;
}

.smart-phone-area .see-all {
    font-size: 18px;
    color: #ffb02a;
}